label Say result
    input(type='checkbox', name='talk', checked=talk)
label Dice animation
    input(type='checkbox', name='anim', checked=anim)
label Show previous totals
    input(type='checkbox', name='totals', checked=totals)
button.trigger(data-trigger='options') ×