p.
    You can change the number of dice by changing <b>X</b> in
    <a href='http://calvein.github.io/die/'>http://calvein.github.io/die/#<b>X</b></a>.
p.
    You can throw the dice by #{supportTouch ? 'touching' : 'clicking'} your screen
    or by shaking your device#{supportDeviceMotion ? ' (your device doesn\'t support it)' : ''}.
button.trigger(data-trigger='help') ×