/* Variables */
text-color = #333
small = '(max-width: 800px)'

/* Resets */
*, *:before, *:after
    box-sizing border-box

body
    margin 0
    font-family sans-serif

ul
figure
    padding 0
    margin 0

p
    margin 0 0 10px

/* Style */
html
body
    height 100%

body
    margin 0
    background #fafafa
    color text-color
    perspective 2000px

.panel
    position absolute
    width 100%
    padding 15px 20px 15px 30px
    background #fefefe
    border-bottom 2px solid black
    // opacity 0
    transform rotateX(90deg)
    transform-origin 50% 0
    transition .2s
    z-index 1
    &.open
        opacity 1
        transform scale(1)

.trigger
    position absolute
    top 10px
    right 10px
    width 30px
    height @width
    padding 0
    border 1px solid text-color
    border-radius 50%
    background white
    cursor pointer

    + .trigger
        right 50px

.dice
    display flex
    height 100vh
    align-items center
    justify-content space-around
    overflow hidden
    cursor pointer

[data-die='1']:before
    content '⚀'
[data-die='2']:before
    content '⚁'
[data-die='3']:before
    content '⚂'
[data-die='4']:before
    content '⚃'
[data-die='5']:before
    content '⚄'
[data-die='6']:before
    content '⚅'

.total
    position absolute
    bottom 10px
    right 10px
    font-size 24px
    font-weight bold

@media (orientation: portrait)
    .dice
        flex-direction column
